.whole {
  background-image: url("../../public//Assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 20vh;
}

.fbutton {
  margin: 0px 150px 150px 0;
}

.footer button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.footer button img {
  width: 175px;
  height: 80px;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 20vh;
}
.hbutton {
  width: 30vw;
}

.header button {
  margin: 40px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 24px;
}

.header button img {
  width: 100px;
  height: 100px;
}

.hlevel {
  width: 70vw;
}
.hlevel {
  display: flex;
  flex-direction: row;
}
.hbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hbar img {
  width: 456px;
  height: 50px;
}
.hbanana {
  margin-top: 20px;
  margin-left: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hbanana img {
  width: 120px;
  height: 120px;
}

.content {
  position: relative;
  display: flex;

  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.reward {
  position: absolute;
  margin-top: -110px;
}
.reward img {
  width: 491px;
  height: 649px;
}
.happymonkey {
  position: absolute;
}
.happymonkey img {
  width: 250px;
  height: 250px;
  margin-top: 79px;
}
.celebrations {
  position: absolute;
}
.celebrations img {
}
